<div class="container">
  <h2 class="text-center"> Codaisseurify artists</h2>
  <div>
    <%= link_to "sort from a to z", artists_path(:order_by => "a to z"), class:"btn btn-primary" %>
    <%= link_to "sort from z to a", artists_path(:order_by => "z to a"), class:"btn btn-primary" %>
  </div>
  <div class="row">

  <% @artists.each do |artist| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-primary">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <div class="row artist-panel-body">
              <img src="#"/>
                <h4><%= link_to artist.name, artist %></h4>
            </div>
          </div>
      </div>
  </div>
  <% end %>
  </div>
</div>
