<div class="container">
  <h2 class="text-center"> Codaisseurify artists</h2>
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
      Sort artists by
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Name A-Z", artists_path(order_by: "Sort A-Z") %></li>
      <li><%= link_to "Name Z-A", artists_path(order_by: "Sort Z-A") %></li>
    </ul>
  </div>
  <div class="row">

  <% @artists.each do |artist| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-primary">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <div class="row artist-panel-body">
                <h4><%= link_to artist.name, artist %></h4>
            </div>
          </div>
      </div>
  </div>
  <% end %>
  </div>
</div>
