@import "bootstrap-sprockets";
@import "bootstrap";

.artist-panel-body, .artist-show-col {
  display: flex;
  flex-direction: column;
}

.artist-show-col {
align-items: center;
}

.btn-primary {
  background-color: #19c488;
  border-color: #149e6d;
}
