@import "bootstrap-sprockets";
@import "bootstrap";

.artist-panel-body, .artist-show-col {
  display: flex;
  flex-direction: column;
}

.artist-show-col {
align-items: center;
}

.btn-primary {
  background-color: #19c488;
  border-color: #149e6d;
}
body {
  background-color: #202123;
  color: white;
}

.panel-primary{
  border-color: #149e6d;
  color: white;
  a {
    color: white;
  }
  .panel-heading {
    background-color: #19c488;
    border-color: #149e6d;
  }
}

.panel-body {
  background-color: #3f3f3f;
}
