@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #202123;
  color: white;
}

h2 {
  font-size: 40px;
}

a {
  color: white;
}

.btn-primary {
  background-color: #19c488;
  border-color: #149e6d;
}

.panel-primary{
  border-color: #149e6d;
  color: white;
  a {
    color: white;
  }
  .panel-heading {
    background-color: #19c488;
    border-color: #149e6d;
  }
}

.panel-body {
  background-color: #3f3f3f;
}


.artist-panel-body, .artist-show-col {
  display: flex;
  flex-direction: column;
}

.artist-show-col {
align-items: center;
}

.artist-actions{
  display: flex;
  justify-content: center;
}

.song-line {
  margin-top: 5px;
}
